*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{--color-a: red;
    --color-b: blue;}

main{
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
    background: linear-gradient(to right top, #ffc764, #ff577f);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222831;
    z-index: -99;
}

.glass{
    background: aliceblue;
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    z-index: 5;
    display: flex;
}

.circle1,.circle2{
    --color-hover: rgba(255,255,255,1);
    background: linear-gradient(to right bottom, var( --color-hover), rgba(255,255,255,0.5));
    transition:  --color-hover 0.5s;
    border-radius: 10rem;
    height: 15rem;
    width: 15rem;
    position: absolute;
    z-index: 3;
}

.circle1{
    top: 5%;
    left: 10%;
}

.circle1:hover{
    --color-hover: skyblue;
}

.circle2{
    bottom: 5%;
    right: 7%;
}

.circle2:hover{
    --color-hover: deeppink;
}

.nav{
    width: 30%;
    height: 80vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
}

li{
    list-style: none;
}

.list{
    list-style: circle;
}
.doted_list{
    margin-left: 3rem;
}

a{
    text-decoration: none;
    color: #222831;
}

.links{
    padding-top: 4rem;
    border-top: 1px solid #222831;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#houdini{
    border-radius: 100%;
    width: 10rem;
    height: auto;
}

#git{
    margin-top: 1rem;
    width: 3rem;
    height: auto;
}

.link{
    text-decoration: none;
}

.link:hover{
    background: linear-gradient(to right bottom, rgba(255,255,245,0.8), rgba(255,255,250,0.1));
    color: #ff884b;
    border-radius: 0.1rem;
    margin: 0 1rem 0 1rem;
    padding: 0.5rem;
    z-index: 99;
    font-size: 1rem;
    font-weight: bold;
}

.title{
    margin: 2rem 4rem;
    font-size: 2rem;
}

p{
    line-height: 1.5rem;
    letter-spacing: 1.5px;
}

.link_outside{
    text-decoration: none;
    position: relative;
    color: #ff884b;
    margin: 0;
}

.link_outside::after {
    border-top: .15em solid #ff884b;
    content: "";
    position: absolute;
    right: 0;
    bottom: .14em;
    left: 0;
}

.description{
    overflow: scroll;
    width: 40vw;
    max-height: 60vh;
    margin-left: 4rem;
    margin-right: 4rem;
    background: linear-gradient(
            to left top,
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.3)
    );
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.box{
    margin: 3rem auto auto;
    width: 30vmin;
    height: 30vmin;
    animation: 3s change infinite alternate linear;
    background-color: var(--animated-color);
}
#ripple {
    margin-left: 30%;
    margin-top: 1rem;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    font-size: 5em;
    background-color: rgb(255,64,129);
    border: 0;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
    color: white;
    --ripple-x: 0;
    --ripple-y: 0;
    --ripple-color: rgba(255,255,255,0.54);
    --animation-tick: 0;
}
#ripple:focus {
    outline: none;
}
#ripple.animating {
    background-image: paint(ripple);
}

@keyframes change {
    from {
        --animated-color: var(--color-a);
    }
    to {
        --animated-color: var(--color-b);
    }
}