*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{--color-a: red;
    --color-b: blue;
}

main{
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
    background: linear-gradient(to right top, #ffc764, #ff577f);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222831;
    z-index: -99;
}
@supports (background: paint(something)) {
    .primary {
        /*
          Optionally set property values.
          This can be done at root or local scope
        */
        --extra-sparkleNumber: 90; /* defaults to 30 */
        --extra-sparkleHue: 180; /* Defaults to 60 (yellow) */
        --extra-sparkleHeightVariance: 12; /* Defaults to 9 */
        --extra-sparkleWidthVariance: 15; /* Defaults to 12 */
        --extra-sparkleWeightVariance: 3; /* Defaults to 2 */


        background: paint(extra-sparkles);
    }
    .secondary{
        --extra-sparkleNumber: 50; /* defaults to 30 */
        --extra-sparkleHue: 40; /* Defaults to 60 (yellow) */
        --extra-sparkleHeightVariance: 9; /* Defaults to 9 */
        --extra-sparkleWeightVariance: 3; /* Defaults to 2 */

        background: paint(extra-sparkles);
    }
}

::-webkit-scrollbar {
    width: 5px;
    display: block;
    background: linear-gradient(to bottom, #ffc764, #ff577f);
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(44,44,44,0.5);
    border-radius: 25px;
    height: 2rem;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
::-webkit-scrollbar-track-piece:end {
    background: transparent;
}
::-webkit-scrollbar-track-piece:start {
    background: transparent;
}



.glass{
    background: aliceblue;
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    z-index: 5;
    display: flex;
}

aside{
    background-color: darkcyan;
}

.circle1,.circle2{
    --color-hover: rgba(255,255,255,1);
    background: linear-gradient(to right bottom, var( --color-hover), rgba(255,255,255,0.5));
    transition:  --color-hover 0.5s;
    border-radius: 10rem;
    height: 15rem;
    width: 15rem;
    position: absolute;
    z-index: 3;
}

.circle1{
    top: 5%;
    left: 10%;
}

.circle1:hover{
    --color-hover: skyblue;
}

.circle2{
    bottom: 5%;
    right: 7%;
}

.circle2:hover{
    --color-hover: deeppink;
}

.nav{
    min-width: 20vw;
    min-height: 80vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
}

li{
    list-style: none;
}

.list{
    list-style: circle;
}
.doted_list{
    margin-left: 3rem;
}

a{
    text-decoration: none;
    color: #222831;
}

.links{
    padding-top: 4rem;
    border-top: 1px solid #222831;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.houdini{
    border-radius: 100%;
    width: 10rem;
    height: auto;
}

.git{
    margin-top: 1rem;
    width: 3rem;
    height: auto;
}

.link{
    text-decoration: none;
}

.link:hover{
    background: linear-gradient(to right bottom, rgba(255,255,245,0.8), rgba(255,255,250,0.1));
    color: #ff884b;
    border-radius: 0.1rem;
    margin: 0 1rem 0 1rem;
    padding: 0.5rem;
    z-index: 99;
    font-size: 1rem;
    font-weight: bold;
}

.title{
    margin: 2rem 4rem;
    font-size: 2rem;
}

p{
    line-height: 1.5rem;
    letter-spacing: 1.5px;
}

.link_outside{
    text-decoration: none;
    position: relative;
    color: #ff884b;
    margin: 0;
}

.bar{
    margin-top: 5px;
    height: 24px;
    width: 4in;
    border: solid 2px #222831;
}

.fill{
    background-color: #ff577f;
    width: 3.955in;
    height: 20px;
    text-align: center;
}

#number{
    width: 5vw;
}

.link_outside::after {
    border-top: .15em solid #ff884b;
    content: "";
    position: absolute;
    right: 0;
    bottom: .14em;
    left: 0;
}

.description{
    overflow-x: hidden;
    overflow-y: scroll;
    width: 40vw;
    max-height: 60vh;
    margin-left: 4rem;
    margin-right: 4rem;
    background: linear-gradient(
            to left top,
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.3)
    );
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.box{
    margin: 1rem auto auto;
    width: 30vmin;
    height: 30vmin;
    animation: 3s change infinite alternate linear;
    background-color: var(--animated-color);
}
#ripple {
    margin-left: 30%;
    margin-top: 1rem;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    font-size: 5em;
    background-color: rgb(255,64,129);
    border: 0;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
    color: white;
    --ripple-x: 0;
    --ripple-y: 0;
    --ripple-color: rgba(255,255,255,0.54);
    --animation-tick: 0;
}
#ripple:focus {
    outline: none;
}
#ripple.animating {
    background-image: paint(ripple);
}
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,266);
    margin: 5px;
}
.responsive-nav{
    min-width: 20vw;
    min-height: 80vh;
    flex-direction: column;
    visibility: hidden;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    background: linear-gradient(to right bottom, rgba(255,255,255,1), rgba(255,255,255,0.7));
}

@keyframes change {
    from {
        --animated-color: var(--color-a);
    }
    to {
        --animated-color: var(--color-b);
    }
}

@media screen and (max-width:1024px){
    .houdini{
        width: 8rem;
    }
}

@media screen and (min-width:2048px){
    h1{font-size: 3rem}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.8rem;
}
ul li a {
    font-size: 1.5rem;
}
}

@media screen and (max-width:800px){
    .houdini{
        width: 6rem;
    }
    .nav{
        display: none;
    }
    .responsive-nav{
        display: flex;
        position: absolute;
        left: 0;
        top: 1%;
        z-index: 99;
        transition: visibility 1s;
        min-width: 30vw;
        height: 98vh;
        border-radius: 0 25px 25px 0;
    }
    .burger{
        z-index: 999;
        background-color: rgba(34,40,49, 0.5);
        margin: 5px;
        position: absolute;
        top: 1%;
        left: 0;
        display: block;
    }
    .description{
        width: 50vw;
    }
    #ripple{
        margin-left: 20%;
    }
}


@media screen and (max-width:500px){
    .houdini{
        width: 6rem;
    }
    .nav{
        display: none;
    }
    .responsive-nav{
        display: flex;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 99;
        transition: visibility 1s;
        min-height: 90vh;
        min-width: 30vw;
    }
    .burger{
        z-index: 999;
        background-color: rgba(34,40,49, 0.5);
        margin: 5px;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }
    #ripple{
        margin-left: 20%;
    }
    .description{
        width: 50vw;
        margin-left: 3rem;
    }
}